@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Inter:wght@400;500;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&family=Outfit:wght@300;400;500&family=Overpass:ital,wght@0,600;1,300&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Victor+Mono:wght@100;500;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
  font-weight:bold;
  font-size: 34px;
}
h2{
  font-weight:bold;
  font-size: 30px;
}
h3{
  font-weight:bold;
  font-size: 24px;
}
h4{
  font-weight:bold;
  font-size: 20px;
}
h5{
  font-weight:bold;
  font-size: 18x;
}
h6{
  font-weight:bold;
  font-size: 16x;
}
svg{
  width: 40px;
  height: 40px;
}
.icon{
  width: 25px;
  height: 25px;
}
.head{
  font-family: "Nunito Sans";
  line-height: 50px !important;
  font-size: 40px;
}
.hero-para{
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 600;
  color: gray;
}
.word{
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 500;
  color: gray;
}
.btn{
  @apply font-medium py-3 px-8 bg-[#35CD8D] rounded-2xl border-2 border-[#35CD8D];
}
.btn1{
  @apply font-medium py-2 px-5 bg-[#35CD8D] rounded-3xl border-2 border-[#35CD8D];
}
.btn:hover{
  border: 2px solid green;
  background-color: white;
  color: green;
}
.nunito{
  font-family: "Nunito Sans";
}
.toggle{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 0vh;
  background-color: green;
  position: absolute;
  top: 12%;
  z-index: 10;
  justify-content: space-around;
  overflow: hidden;
  transition: 2s ease-in;
}
.toggle-sub{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60vh;
  background-color: green;
  position: absolute;
  top: 12%;
  z-index: 10;
  justify-content: space-around;
  overflow: hidden;
  transition: 2s ease-in;
}
.name{
  width: 50%;
}
.others{
  width: 20%;
}
.navigation{
  background-color: white !important;
  width: 13%;
  height: 92.5vh;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.navigation-after{
  background-color: white;
  width: 70px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 92.5vh;
  gap: 2rem;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
}

.accordion{
  display: block;
  font-size: 20px;
  line-height: 22px;
  text-align: justify;
  margin-top: 2px;
  height: 100%;
}
.title{
  display: none;
}
.hide-tracktor{
  display: none;
}

.bg1{
  background: url(../src/Images/Component\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.bg2{
  background: url(../src/Images/Component\ 6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.bg3{
  background: url(../src/Images/Component\ 5.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
